/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(127, 255, 212);
    color: #333;
}

h1 {
    font-family: "Macondo", cursive;
}